<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
     <link rel="stylesheet" href="/css/styles.css">
   <script src="https://kit.fontawesome.com/9c9712e45b.js" crossorigin="anonymous"></script>
</head>


<body class="home">
<header>
    <div class="main-header">
        <figure class="logo"><img src="/images/Logo.jpg" alt="logo"></figure>
        <div class="search"><input type="text" placeholder="Buscar productos y marcas"></div>
        <button class="search"><i class="fas fa-search"></i></button>
    </div>
<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de crédito</p>

<nav>
<ul>
<li><a href="#">Ofertas</a></li>
<li><a href="#">Tiendas Oficiales</a></li>
<li><a href="#">Vender</a></li>
<li><a href="#">Ayuda</a></li>
</ul>

<ul>
    <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
</ul>
<button class="burguer-menu"><i class="fas fa-bars"></i></button>
</nav>

</header>
<main>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt=""></div>
        <h2>Basado en tu última visita</h2>
<section>
        <article>
    <div><img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"></div>
    <div class="contenedor">
        <div class="camion"><i class="fas fa-truck"></i></div>
    </div>
<div class="contenedor2">
    <p>$6.770</p>
    <p class="descuento">40% off</p>
</div>
<h4>Cafetera Moulinex</h4>
</article>
<article>
    <div><img src="/images/img-macbook-pro-2019.jpg" alt=""></div>
    <div class="contenedor">
    <div class="camion"><i class="fas fa-truck"></i></div>
    </div>
    <div class="contenedor2">
    <p>$230.000</p>
    <p class="descuento">20% off</p>
</div>
    <h4>MacBook Pro 2019</h4>
    </article>
    <article>
        <div><img src="/images/img-samsung-galaxy-s10.jpg"></div>
        <div class="contenedor">
        <div class="camion"><i class="fas fa-truck"></i></div>
    </div>
        <div class="contenedor2">
    
            <p>$70.500</p>
        <p class="descuento">10% off</p>
    </div>
        <h4>Samsum Galay S10</h4>
        </article>
        <article>
            <div><img src="/images/img-tv-samsung-smart.jpg"></div>
            <div class="contenedor">
            <div class="camion"><i class="fas fa-truck"></i></div>
           </div>
            <div class="contenedor2">
            <p>$23.200</p>
            <p class="descuento">5% off</p>
        </div>
            <h4>Smart Tv Samsumng 43"</h4>
            </article>
</section>

<section>
    <h2>Ofertas</h2>
    <article>
        <div><img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"></div>
        <div class="contenedor">
            <div class="camion"><i class="fas fa-truck"></i></div>
        </div>
    <div class="contenedor2">
        <p>$6.770</p>
        <p class="descuento">40% off</p>
    </div>
    <h4>Cafetera Moulinex</h4>
    </article>
    <article>
        <div><img src="/images/img-macbook-pro-2019.jpg" alt=""></div>
        <div class="contenedor">
        <div class="camion"><i class="fas fa-truck"></i></div>
        </div>
        <div class="contenedor2">
        <p>$230.000</p>
        <p class="descuento">20% off</p>
    </div>
        <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <div><img src="/images/img-samsung-galaxy-s10.jpg"></div>
            <div class="contenedor">
            <div class="camion"><i class="fas fa-truck"></i></div>
        </div>
            <div class="contenedor2">
        
                <p>$70.500</p>
            <p class="descuento">10% off</p>
        </div>
            <h4>Samsum Galay S10</h4>
            </article>
            <article>
                <div><img src="/images/img-tv-samsung-smart.jpg"></div>
                <div class="contenedor">
                <div class="camion"><i class="fas fa-truck"></i></div>
               </div>
                <div class="contenedor2">
                <p>$23.200</p>
                <p class="descuento">5% off</p>
            </div>
                <h4>Smart Tv Samsumng 43"</h4>
                </article>
</section>
</main>
<footer>
    <section>
        <i class="fas fa-credit-card"></i>
<h4>Pagá con tarjeta o en efectivo</h4>
<p>Con Mercvado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-gift"></i>
    <h4>Envío gratis desde $ 2.500</h4> 
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i>
<h4>Seguridad, de principio a fin</h4>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@</p>
</section>
<section>
    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
</section>
</footer>
</body>
</html>