/* --- Inicio header --- */
.home header{
    background-color: var(--Amarillo);
    padding-bottom: 20px;
}
.home header .main-header{
    padding: 2px;
}
.home header .main-header .logo{
    margin: 1%;
}
header .logo img{

    height: 50px;
    width: 164px;
}

.home header .search{
    margin-left: 18px;
}
.home header p{
 text-align: center;
 margin: 15px 0;
}

.home header nav ul {
    display: none;
margin-bottom: 10px;
margin-left: 0;
list-style: none;

}
.home header nav ul li a{
    color:black;
    text-decoration: none;
 
}
.home header nav ul li a i{
    padding-left: 6px
}

.home header .burguer-menu{
    text-align: center;
    background-color: var(--Celeste);
    color: white;
    border: none;
    padding: 3%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.home header .burguer-menu i{
    font-size:18px;
}


/* --- Fin header --- */

/* ---Inicio Main --- */
body{
    background-color: var(--Gris-claro);
} 
main{
    
    width: 90%;
    margin: 0 auto;
}
main .banner{
    display: none;
}
main section{
    padding: 20px 0px;
}
main section h2{
    color: var(--Gris-oscuro);
    font-size: var(--font-size-titulares);
}
main section article{
    background-color: white;
    margin: 10px 0;
}
main section article .contenedor{
    border-top: 1px solid var(--Gris-claro);
}
main section article img{
    width: 100%;
}
main section article .camion{
    padding: 10px;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    display: inline-block;
}
main section article .camion,main section article .descuento{
    color: var(--Verde);
    font-size: var(--font-size-descripcionesYdescuentos);
}
main section article h4{
    display: none;
    margin-top: 10px;
    color: var(--Gris-oscuro);
    font-size: var(--font-size-descripcionesYdescuentos);
}


/* ---Fin Main --- */

/* ---Inicio Footer --- */
footer{
    background-color: white;
}
.home footer section i{
    text-align: center;
    background-color: white;
    color: var(--Celeste);
    border: none;
    padding-top: 13%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 10px;
}
.home footer h4{
    margin: 0%;
    text-align: center;
    color: var(--Gris-oscuro);
}
.home footer p{
    color: var(--Gris-oscuro);
    text-align: center;
    margin: 0% 10%;
}
.home footer h5{
color: var(--Gris-oscuro);
padding: 40px 0px;
padding-left: 15px;
}
/* ---Fin Footer --- */

/* TABLET */
@media (min-width:461px) {
   main section article{
    box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
    }
    main section article h4{
    display: block;
}
.home header .burguer-menu{
    display: none;
}
.home header nav ul {
    display: block;
}
}

/* DESKTOP */
@media (min-width:769px){}