/* --- Inicio header --- */
 header{
    background-color: var(--Amarillo);
    padding-bottom: 20px;
}
 header .main-header{
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
 header .main-header .logo{
    margin: 1%;
}
 header .logo img{

    height: 50px;
    width: 164px;
}

/* . header .search{
   margin-left: 18px; 
} */
 header p{
 text-align: center;
 margin: 15px 0;
}

header nav ul {
    display: none;
margin-bottom: 10px;
margin-left: 0;
list-style: none;

}
 header nav ul li a{
    color:black;
    text-decoration: none;
 
}
 header nav ul li a i{
    padding-left: 6px
}

 header .burguer-menu{
    text-align: center;
    background-color: var(--Celeste);
    color: white;
    border: none;
    padding: 3%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
header .burguer-menu i{
    font-size:18px;
}


/* --- Fin header --- */

/* ---Inicio Main --- */
.home body{
    background-color: var(--Gris-claro);
} 
.home main{
    
    width: 90%;
    margin: 0 auto;
}
.home main .banner{
    display: none;
}
.home main section{
    padding: 20px 0px;
}
.home main h2{
    color: var(--Gris-oscuro);
    font-size: var(--font-size-titulares);
}
.home main section article{
    background-color: white;
    margin: 10px 0;
    height: 490px;
}
.home main section article .contenedor{
    position: relative;
    border-top: 1px solid var(--Gris-claro);
}
.home main section article img{
    width: 100%;
}
.home main section article .camion{
    
    border-radius: 50%;
    display: inline-block;
}
.home main section article .camion,main section article .descuento{
    margin-left: 10px;
    color: var(--Verde);
    font-size: var(--font-size-descripcionesYdescuentos);
}
.home main section article .contenedor2{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;}
.home main section article h4{
    margin-left: 20px;
    margin-top: 10px;
    color: var(--Gris-oscuro);
    font-size: var(--font-size-descripcionesYdescuentos);
}
.home main section article i{ 
    display: block; 
    font-size:16px; 
    padding: 5px; 
    width: 30px; 
    height: 30px; 
    border:1px solid #39b54a; 
    background-color: #FFF; 
    border-radius:50%; 
    position: absolute; 
    right: 20px; 
    top:-15px; }

/* ---Fin Main --- */

/* ---Inicio Footer --- */
.home footer{
    background-color: white;
}
 .home footer section i{
    text-align: center;
    background-color: white;
    color: var(--Celeste);
    border: none;
    padding-top: 13%;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 10px;
}
 .home footer h4{
    margin: 0%;
    text-align: center;
    color: var(--Gris-oscuro);
}
 .home footer p{
    color: var(--Gris-oscuro);
    text-align: center;
    margin: 0% 10%;
}
 .home footer h5{
color: var(--Gris-oscuro);
padding: 40px 0px;
padding-left: 15px;
}
/* ---Fin Footer --- */

/* TABLET */
@media (min-width:461px) {
     header {
        background-color: var(--Amarillo);
        display: flex;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
     header {
        background-color: var(--Amarillo);
        display: flex;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
 header .burguer-menu{
    display: none;
}
 header nav {
    letter-spacing: -1px;
    display: flex;
    width: 98%;
    justify-content: space-between;
}
 header nav ul {
    
       display: flex;
       width: 32%;
       justify-content: space-around;
}
.home main section {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
    .home   main section article{
    width: 48%;
    box-shadow:0px 0px 10px rgb(100, 100, 100);
    }
    main section article h4{
    display: block;
}
/* .home header nav ul li a{
    font-size: ;
} */
}


/* DESKTOP */
@media (min-width:769px){
     header .main-header{
        display: flex;
        width: auto;
        padding: 2px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
     header .logo img {
        width: 100%;
        height: 100%;
    }
     header p {
        text-align: center;
        margin: 15px 30px;
    }
    .home main .banner {
        display: flex;
        width: 106%;
        justify-content: flex-end;
    
    }
    .home main section {
        padding: 20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
       .home main section article{
        width: 24%;
        box-shadow:0px 0px 10px rgb(100, 100, 100);
        }
        .home main section article {
            background-color: white;
            margin: 10px 0;
            height: 315px;

            }
             main section h2{
                width:100% ;
             }
}