@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a;
--tipografia: ;
--font-size-texto: 12px;
--font-size-titulares: 24px;
--font-size-precios: 18px;
--font-size-descripcionesYdescuentos:16px;
font-family: 'Roboto', sans-serif;
}
